# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\OneDrive - visualize B2C applications\RISKI RISMAWAN F1D018053\SEMESTER 9\Gits id BodyHire\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
